*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    /* background-color: blue; */
    font-family: 'Raleway', sans-serif;
}


header .Contenedor_Texto{
    width: 100%;
    height: 500px;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-image: linear-gradient(120deg, rgba(241, 147, 251, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("/img/WhatsApp\ Image\ 2021-04-09\ at\ 7.17.18\ PM\ \(2\).jpeg");
    /* background-size: cover; -- estira imagen a todo el ancho disponible */
    background-size: cover;
    position: relative;
}


header .Ondas{
    height: 150px;
    width: 100%;
    /* overflow: hidden; Lo que esté fuera del div NO LO MUESTRA */
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
}